# Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.env
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de estado o temporales
state.json

# Config de editor
.vscode/
.idea/

# Entornos de prueba o output
*.log
*.zip
